<div  class="container   ">
    <img class="" src="../../assets/img/download.jpg" width="350px" height="100px" alt="">
    <ul class="nav justify-content-end  ">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Batches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Assignments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="#">Attendace</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link " routerLink="/courses">Go to home</a>
            </li>
    </ul>
</div>
<h1 id="head">Luminar Attendance - 2022</h1>

<table id="t2">
  <thead>
    <tr>
      <th class="name-col">Student Name - {{user}}</th>
      <th class="missed-col">Days Missed-col</th>
    </tr>
  </thead>
  <tbody>
    <tr class="student">
      <td class="name-col">Januvary</td>
      <td class="missed-col">0</td>
    </tr>
    <tr class="student">
      <td class="name-col">February</td>
      <td class="missed-col">2</td>
    </tr>
    <tr class="student">
      <td class="name-col">March</td>
      <td class="missed-col">0</td>
    </tr>
    <tr class="student">
      <td class="name-col">April</td>
      <td class="missed-col">2</td>
    </tr>
    <tr class="student">
      <td class="name-col">May</td>
      <td class="missed-col">7</td>
    </tr>
  </tbody>
</table>
