<div  class="container   ">
    <img class="" src="../../assets/img/download.jpg" width="350px" height="100px" alt="">
    <ul class="nav justify-content-end  ">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Batches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Assignments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="#">Attendace</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link " routerLink="/courses">Go to home</a>
            </li>
    </ul>
</div>

<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>Assignment-1</h6>
			<h2>Budget Calculator</h2>
			<!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
		</div>
		<div class="course-info">
			<!-- <div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div> -->
			<h6>Due Date</h6>
			<h2>14-12-2022</h2>
			<button id="1" class="btn" (click)="submit()">{{btnVal}}</button>

		</div>
	</div>
</div>

<!-- SOCIAL PANEL HTML -->
<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>Assignment-2</h6>
			<h2>Weather API</h2>
			<!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
		</div>
		<div class="course-info">
			<!-- <div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div> -->
			<h6>Due Date</h6>
			<h2>20-12-2022</h2>
			<button id="1" class="btn" (click)="submit1()">{{btnVal1}}</button>

		</div>
	</div>
</div>
<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>Assignment-3</h6>
			<h2>Angular Interveiw Questions</h2>
			<!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
		</div>
		<div class="course-info">
			<!-- <div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div> -->
			<h6>Due Date</h6>
			<h2>27-12-2022</h2>
			<button id="1" class="btn" (click)="submit2()">{{btnVal2}}</button>

		</div>
	</div>
</div>
<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>Assignment-4</h6>
			<h2>Calculator</h2>
			<!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
		</div>
		<div class="course-info">
			<!-- <div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div> -->
			<h6>Due Date</h6>
			<h2>1-1-2023</h2>
			<button id="1" class="btn" (click)="submit3()">{{btnVal3}}</button>

		</div>
	</div>
</div>